<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>813792204743-9ofsmg1tmg6j5d93rskarordktd2gtkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813792204743-9ofsmg1tmg6j5d93rskarordktd2gtkm</string>
	<key>API_KEY</key>
	<string>AIzaSyBkOFexGWde63EgzR5zFnnlOEzbW6EDBSs</string>
	<key>GCM_SENDER_ID</key>
	<string>813792204743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andreyprog.org.Air-Part</string>
	<key>PROJECT_ID</key>
	<string>air-partprog</string>
	<key>STORAGE_BUCKET</key>
	<string>air-partprog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:813792204743:ios:608deb59c8e609e6</string>
	<key>DATABASE_URL</key>
	<string>https://air-partprog.firebaseio.com</string>
</dict>
</plist>